# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
src/service/logs

# Папка с собранными файлами проекта
build/

# Сгенерированные с помощью server.js mock-файлы
mocks.json

# Покрытие тестами
coverage/

# Переменные окружения
.env