doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title registration
    link(rel='preload', href='/fonts/Inter-Regular.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='/fonts/Inter-Medium.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='/fonts/SFProDisplay-Regular.woff2', as='font', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.min.css')
    style.
      a.active {
        pointer-events: none;
      }
      .server-error {
        border-radius: 10px;
        color: white;
        background-color: tomato;
        margin: 20px 0;
        padding: 10px;
      }
  body
    .wrapper
      mixin errorMessage(message)
        if message
          .server-error= message
      include components/header.pug
      block content
      include components/footer.pug
    script(src='/js/main.js')
