extends ../main-admin-layout.pug

block content 
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article, index in articles 
          li.notes__list-item(class=index === articles.length - 1 ? 'notes__list-item--last' : '')
            time.notes__item-time(datetime=`${article.createdAt}`) #{dayjs(article.createdAt).format(`DD.MM.YYYY, hh:mm`)}
            a.notes__item-text(href='#') #{article.announce}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
